.podcast-card__container {
	height: 310px;
	text-align: center;
	text-decoration: none;
}

.podcast-card__item {
	align-items: center;
	box-shadow: 0px 2px 2px 1px var(--shadow-color);
	color: var(--font-primary);
	display: flex;
	flex-direction: column;
	height: 150px;
	justify-content: end;
	margin: 0 1.5rem;
	padding: 0 0.5rem;
	width: 220px;
}

.podcast-card__image {
	border-radius: 50%;
	bottom: -13%;
	height: 120px;
	position: relative;
	width: 120px;
}

.podcast-card__title {
	display: inline-block;
	font-size: medium;
	height: 42px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	word-wrap: break-word;
}

.podcast-card__author {
	font-size: small;
	height: 42px;
	margin-bottom: 0.5rem;
}
